.oldTweets {
    align-items: center;
    margin-top: 15px;
    border-radius: 5px;
    border: 2px;
    border-radius: 10px;
    background-color: rgb(200, 242, 255);
}

.oldTweets .userInfo {
    text-align: justify;    
    background-color: rgb(0, 161, 182);
    font-weight: bold;
    color: rgb(211, 233, 255);
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    border: 1px lightblue solid;
    border-radius: 2px;
    line-height: 3em;
    
}

.oldTweets .userInfo:hover {
    background-color: lightgray;
    color: darkslategrey;
}

.oldTweets .userInfo span {
    float: right; 
    font-weight: lighter;  
} 

.oldTweets .userInfo img {
    float: left;
    margin: 2px 5px;
    height: 45px;
}
.oldTweets h2 {
    text-align: left;
    padding: 5px;
    width: 80%;
   margin:15px auto;
   font-weight: lighter;
}

.oldTweets .postInfo {
    text-align: left;
    margin: 10px;
    font-weight: bold;
    padding-bottom: 10px;
}

.oldTweets .postInfo span{
    float: right;
    visibility: hidden;
    display: inline-block;
}

.oldTweets:hover .postInfo span {
    visibility: visible;
}

.oldTweets .postInfo span img {
    width: 25px;
    height: 25px;
}
